/** {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}*/

header, footer, figure {
  text-align: center;
}

nav {
  padding: 15px;
}

a {
  color: #2c87f0;
}

a:hover {
  background-color: transparent;
  color: grey;
}

img {
  width: 356px;
  height: 237px;
}

section {
  float: left;
  position: relative;
  margin: 0 1.5%;
  width: 63%;
}

aside {
  float: right;
    position: relative;
  margin: 0 1.5%;
  width: 30%;
}

footer {
  clear: both;
  padding-bottom: 15px;
  padding-top: 15px;
}

time {
  font-style: italic;
}

mark {
  background: #ffec82;
  padding: 0 3px;
  border: 1px dashed #333;
  text-align: center;
}
